body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
    color: black
}

h1 {
 font-family: 'Amatic SC', cursive;
    color: burlywood;
    font-size: 50px;
}

P {
    font-size: 30px;
    color: burlywood;
    font-family: 'Arimo', sans-serif;
}

h2 {
    color: darkcyan;


}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
max-width:800px;    
margin:auto;
}



.cta {
    background:lavenderblush; 
        font-size:21px;
    text-align: center;
    padding:20px;
    
}

.button {
    background:darkcyan;  
        color:lavenderblush;
    text-decoration: none;
    padding: 14px;
}


.cta p {
    color:black;
    font-size:28px;
    bottom: 50px;
    margin-bottom:50px;
    font-family: 'Arimo', sans-serif;
    
    
}

.cta h3 {
 color:darkcyan;
 font-family: 'Amatic SC', cursive;
    font-size: 40px;
    
}

img {
 text-align: left;
    
}