body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
    color: black
}

h1 {
 font-family: 'Amatic SC', cursive;
    color: burlywood;
    font-size: 50px;
}

P {
    font-size: 30px;
    color: burlywood;
    font-family: 'Arimo', sans-serif;
}

h2 {
    color: darkcyan;


}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
max-width:800px;    
margin:auto;
}



.cta {
    background:#c3d1d4; 
        font-size:21px;
    padding:20px;
    overflow: hidden;
    margin: 25px;
}

.button {
    background:#c49870;  
        color:#ffffff;
    text-decoration: none;
    padding: 15px  30px;
    display: inline-block;
}


.cta p {
    color:black;
    font-size:28px;
    bottom: 50px;
    margin-bottom:50px;
    font-family: 'Arimo', sans-serif;
    
    
}

.cta h3 {
 color:#c49870;
 font-family: 'Amatic SC', cursive;
    font-size: 40px;

    
}

.alignleft {
    float: left;
    margin-right:14px;
    margin-bottom: 14px;
 max-width: 50%;
}

.cta .alignleft {
    float: left;
    margin-right:14px;
    margin-bottom: 14px;
}

.news {
     padding: 60px;
    
    /* 
    background:url(img/a.jpg); */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ),
    url(img/a.jpg);  
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 24px;
    color: white;
    
}

.news h2 {
    color: white;
    font-size:50px;
    font-family: 'Amatic SC', cursive; 
        
}

.news p{
    color:white;
    font-size: 20px;
    font-family:'Arimo', sans-serif;
    
}

input{
    font: inherit;
    color: inherit;
    background: none;
border: none;
    border-bottom: 3px solid #fff;
    padding: 5px;
    
    
}


input:focus{
   input:focus {
  outline: 0;
  background: rgba(0,0,0,0.5);
      
}

  
        
}
label{
    margin-bottom:20px;
    display: block;
}

label span {
  display: inline-block;
  width: 100px;
  margin-bottom:20px;
 
}



.news .button{
 background: none;
}

.news.button:hover{
    background: white;
    color: black
}