@font-face {
  font-family: 'yidishkeit';
  src: url('fonts/yidishkeit/400/yiddishkeitAlefAlefAlef-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'almoni-tzar';
  src: url('fonts/almoni-tzar/400/almoni-tzar-aaa-400.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}



body {
  /* background: #000; */
  color: #dcf2ec;
  margin: 0;
  font-family: 'almoni-tzar';
  line-height: 1.5;
  font-size: 20px;
    text-align: center;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1 {
  font-size: 80px;
  font-family: 'yidishkeit';
  font-weight: 400;
    color:#e0b192;
    text-align: center;
}
