@font-face {
    font-family: 'aran';
    src: url('fonts/aran/os_aran_r_600ffc-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'almoni';
    src: url('fonts/almoni-neue/400/almoni-neue-aaa-400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'almoni';
    src: url('fonts/almoni-neue/700/almoni-neue-aaa-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {

    margin: 0;
    font-family: 'almoni';
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    color: #c7a17a;
    background: #eae7df;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-size: 80px;
    font-family: 'aran';
    font-weight: 600;
    color: #c7a17a;
    text-align: center;
}

h1:after {
    content: "";
    background-size: contain;
    height: 30px;
    max-width: 400px;
    display: block;
    margin: auto;

}

h2 {
    font-size: 28px;
    color: #53473a;
    font-family: 'aran';

}

h2:after {
    content: "";
    border-bottom: 3px solid #c7a17a;
    width: 80px;
    display: block;
    margin: auto;

}

a {
    color: #53473a;


}

.button {
    text-decoration: none;
    color: #fff;
    background: #53473a;
    padding: 10px 40px;
    display: inline-block;
}

.button:hover {
    background: #c7a17a;
    color: #000;
}

.container {
    max-width: 980px;
    margin: auto;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav a {
    text-decoration: none;
    color: #eae7df;
    padding: 10px;
    display: block;
      border-bottom: 3px solid transparent;

}

.current{
    font-weight: bold;
}
nav a:hover{
  border-bottom-color: #eae7df;

    
}
.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(img/img.jpg);
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    color: #eae7df;
    position: relative;


}

.about {
    position: relative;
    padding: 56px 0 84px;
}
.gift .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(img/23.jpg)
}



.about .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(img/125.jpg)
}
.contact .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(img/contact.jpg)
}


.banner .container {
    max-width: 700px;
    font-size: 22px;
}

.features {
    background: #fff;
    text-align: center;
    padding: 50px 0;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 56px;
}

.features img {
    max-width: 100px;
}

.features h2:after {
    margin: auto;
}

.features p {
    color: #53473a;
}

.video {
    text-align: center;

}


.our-vision {
    padding: 56px 0;
}

footer {
    background: #53473a;
    color: #eae7df;
    text-align: center;
    padding: 14px 0;
}

footer a {
    color: #c7a17a;
}

footer img {
    width: 48px;

}

.social {
    margin: 40px 0:
}

.social a {
    margin: 0 10px;

}


.custom-shape-divider-bottom-1617037816 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617037816 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1617037816 .shape-fill {
    fill: #EAE7DF;
}

.price-list{
    list-style: none;
    padding: 10px;
    font-size: 20px;
    columns:2;
    column-gap: 40px;
}

.price-list li {
   display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.line{
    flex: 1;
    border-bottom: 2px solid  #53473a;
    height: 1em;
    margin: 0 5px;
}

.price{
    font-weight: bold;
  
}
.price-wrap{
    padding: 59px 0;
}

.price-wrap img{
    width: 80px;
    margin: auto;
    display: block;
}

.price-wrap h2{
    margin-top: 0;
}

.contact .price-list{
  columns:1;
    max-width: 400px;
    margin: auto;
}


.team-wrap{
   background: #fff;
    padding: 30px 0;
    
}
.team {
    list-style: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team li{
    margin: 20px;
    max-width: 3000px;
}
.team h3 ,.team p {
    margin: 0;
    
}
.team img{
    border-radius: 50%;
}

.team p{
    color: #53473a; 
}
